import("rJava")




export("www.connect")
export("www.console")
export("www.mathematica.console")
export("www.mathematicag.console")
export("www.eval")
export("www.source")
export("www.show")
export("www.setname")
export("www.synchup")
export("www.synchdown")
export("www.put")
export("www.putlist")
export("www.get")
export("www.upload")
export("www.download")
export("www.cells.put")
export("www.cells.get")
export("www.cells.undo")
export("www.cells.redo")
export("www.stop")
export("www.dispose")
export("www.engines")
export("www.enablelog")
export("www.disablelog")
export("www.image.put")
export("www.image.get")
export("www.call")
export("www.call.synchronous")
export("www.apply")

export("www.proxy.set")
export("www.proxy.detect")
export("www.proxy.show")
export("www.pconnect")
export("www.pshow")
export("www.plist")
export("www.pget")
export("www.pdispose")
export("www.portals")

export("www.option")

export("java.resetlog")
export("java.showlog")
export("java.tempname")
export("engine.attrs.all")
export("engine.attrs.basic")
export("handle.actions")

export("startTimer")
export("stopTimer")
export("isStandalonePackage")

