<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	test</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		CommandServlet</display-name>
		<servlet-name>CommandServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.CommandServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
			HelpServlet</display-name>
		<servlet-name>HelpServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.HelpServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		ConfigServlet</display-name>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.ConfigServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>
		InterceptorServlet</display-name>
		<servlet-name>InterceptorServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.InterceptorServlet</servlet-class>
	</servlet>
	
			
	<servlet>
		<description>
		</description>
		<display-name>GraphicsServlet</display-name>
		<servlet-name>GraphicsServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.GraphicsServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>RESTServlet</display-name>
		<servlet-name>RESTServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.RESTServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>RebindServlet</display-name>
		<servlet-name>RebindServlet</servlet-name>
		<servlet-class>org.kchine.r.server.http.frontend.RebindServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>jnlpbuilder</servlet-name>
		<jsp-file>/jnlpbuilder.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>desktopjnlpbuilder</servlet-name>
		<jsp-file>/desktopjnlpbuilder.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CommandServlet</servlet-name>
		<url-pattern>/cmd</url-pattern>		
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HelpServlet</servlet-name>
		<url-pattern>/helpme/*</url-pattern>		
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/config</url-pattern>		
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>InterceptorServlet</servlet-name>
		<url-pattern>/interceptor/*</url-pattern>		
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GraphicsServlet</servlet-name>
		<url-pattern>/graphics</url-pattern>		
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RESTServlet</servlet-name>
		<url-pattern>/rest</url-pattern>		
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RebindServlet</servlet-name>
		<url-pattern>/rebind</url-pattern>		
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>jnlpbuilder</servlet-name>
		<url-pattern>/jaws/*</url-pattern>		
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>desktopjnlpbuilder</servlet-name>
		<url-pattern>/desktopjaws/*</url-pattern>		
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>3</session-timeout>
	</session-config>
	<listener>
		<listener-class>org.kchine.r.server.http.frontend.FreeResourcesListener</listener-class>
	</listener>
	
</web-app>
